<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<ul th:fragment="layout-menu" th:class="navi_menu">
		<li><a th:href="@{/}">🦆 <span th:text="#{top}"></span></a></li>
		<li><a th:href="@{/client/item/list/1}">🦆 <span th:text="#{item}+#{title.list}"></span></a></li>
		<li><a th:href="@{/client/basket/list}">🦆 <span th:text="#{basket}"></span></a></li>
		<li><a th:href="@{/client/coupon/list}">🦆 クーポン一覧</a></li>
		<th:block th:if="${session.user != null}">
			<li style="display:none;"><a th:href="@{/client/favorite/list}">🦆 <span th:text="#{favorite}"></span></a></li>
			<li style="display:none;"><a th:href="@{/client/order/list}">🦆 <span th:text="#{order}+#{title.list}"></span></a></li>
		</th:block>
	</ul>
</body>

</html>